In [35]:
from pyspark.sql import SparkSession
from pyspark.sql.types import *
from pyspark.ml.regression import LinearRegression

In [2]:
spark = SparkSession.builder.master("local[*]").appName('test').getOrCreate()

In [3]:
DATA_PATH = './sales.csv'

In [31]:
df = spark.read.csv(DATA_PATH, sep=',', header=True)
df = df.withColumn('rank', df['Rank'].cast(IntegerType()))
df = df.withColumn('name', df['Name'])
df = df.withColumn('platform', df['Platform'])
df = df.withColumn('year', df['Year'].cast(DoubleType()))
df = df.withColumn('publisher', df['Publisher'])
df = df.withColumn('na_sales', df['NA_Sales'].cast(DoubleType()))
df = df.withColumn('eu_sales', df['EU_Sales'].cast(DoubleType()))
df = df.withColumn('jp_sales', df['JP_Sales'].cast(DoubleType()))
df = df.withColumn('other_sales', df['Other_Sales'].cast(DoubleType()))
df = df.withColumn('global_sales', df['Global_Sales'].cast(DoubleType()))

In [32]:
df.printSchema()

root
 |-- rank: integer (nullable = true)
 |-- name: string (nullable = true)
 |-- platform: string (nullable = true)
 |-- year: double (nullable = true)
 |-- Genre: string (nullable = true)
 |-- publisher: string (nullable = true)
 |-- na_sales: double (nullable = true)
 |-- eu_sales: double (nullable = true)
 |-- jp_sales: double (nullable = true)
 |-- other_sales: double (nullable = true)
 |-- global_sales: double (nullable = true)

In [34]:
df.show(10)

+----+--------------------+--------+------+------------+---------+--------+--------+--------+-----------+------------+
|rank|                name|platform|  year|       Genre|publisher|na_sales|eu_sales|jp_sales|other_sales|global_sales|
+----+--------------------+--------+------+------------+---------+--------+--------+--------+-----------+------------+
|   1|          Wii Sports|     Wii|2006.0|      Sports| Nintendo|   41.49|   29.02|    3.77|       8.46|       82.74|
|   2|   Super Mario Bros.|     NES|1985.0|    Platform| Nintendo|   29.08|    3.58|    6.81|       0.77|       40.24|
|   3|      Mario Kart Wii|     Wii|2008.0|      Racing| Nintendo|   15.85|   12.88|    3.79|       3.31|       35.82|
|   4|   Wii Sports Resort|     Wii|2009.0|      Sports| Nintendo|   15.75|   11.01|    3.28|       2.96|        33.0|
|   5|Pokemon Red/Pokem...|      GB|1996.0|Role-Playing| Nintendo|   11.27|    8.89|   10.22|        1.0|       31.37|
|   6|              Tetris|      GB|1989.0|      Puzzle| Nintendo|    23.2|    2.26|    4.22|       0.58|       30.26|
|   7|New Super Mario B...|      DS|2006.0|    Platform| Nintendo|   11.38|    9.23|     6.5|        2.9|       30.01|
|   8|            Wii Play|     Wii|2006.0|        Misc| Nintendo|   14.03|     9.2|    2.93|       2.85|       29.02|
|   9|New Super Mario B...|     Wii|2009.0|    Platform| Nintendo|   14.59|    7.06|     4.7|       2.26|       28.62|
|  10|           Duck Hunt|     NES|1984.0|     Shooter| Nintendo|   26.93|    0.63|    0.28|       0.47|       28.31|
+----+--------------------+--------+------+------------+---------+--------+--------+--------+-----------+------------+
only showing top 10 rows

In [16]:
# [x[0] for x in df.select('EU_Sales').collect()]